# ID вашей Google Таблицы (длинная строка из адресной строки браузера)
GOOGLE_SHEET_ID=1h55I8vhoc-_G6DgywFmvvpHSh23QtX4QlIA_gfn0dG0/edit?gid=0#gid=0

# Имя файла ключа Google (который вы только что создали)
GOOGLE_CREDENTIALS_FILE=google_credentials.json

# ID облака Яндекс (Cloud ID), где включен YandexGPT 
# (Нужно взять в консоли Яндекс Облака, обычно выглядит как b1g...)
YANDEX_CLOUD_ID=b1g7kcbfcfm5m5gu8ro5

# Folder ID (каталог), где будут крутиться модели
YANDEX_FOLDER_ID=ajeu1sor224ng49310mh